annotated-types
anyio
asgiref
attrs
certifi
cffi
charset-normalizer
cryptography
distro
Django
django-cors-headers
django-extensions
djangorestframework
djangorestframework_simplejwt
drf-spectacular
gunicorn
h11
httpcore
httpx
idna
inflection
jiter
jsonschema
jsonschema-specifications
lxml
openai
packaging
pdfminer.six
pdfplumber
pillow
pip-chill
psycopg2-binary
pycparser
pydantic
pydantic_core
PyJWT
pypdfium2
python-decouple
python-docx
PyYAML
referencing
rpds-py
sniffio
sqlparse
tqdm
typing-inspection
typing_extensions
uritemplate
whitenoise
